In [1]:
import numpy as np
import pandas as pd

from Compos_DF import ComposDF
from Compo_HTML import *
from Block import *
import draw

In [2]:
name = 'data/9'
compos = ComposDF(name + '.json', name + '.png')
img = compos.img.copy()
img_shape = compos.img_shape

In [3]:
compos.repetitive_group_recognition()    # group_nontext, group_text
compos.pair_groups()                     # pair, pair_to, group
compos.list_item_partition()             # list_item

In [4]:
# compos.visualize_block('group')
# compos.visualize_block('pair')

In [5]:
blocks = gather_blocks(compos.compos_dataframe)

In [10]:
block = blocks[4]
block.group_list_items()
block.generate_element_html()
block.compos_df

,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,alignment_list,block,pair_to,list,alignment_item,list_item
44,44,460,493,300,333,"(476.5, 316.5)",476.5,316.5,33,33,1089,Compo,v,nt-4,45,1,h,44
46,46,460,493,340,373,"(476.5, 356.5)",476.5,356.5,33,33,1089,Compo,v,nt-4,47,1,h,46
50,50,460,493,379,412,"(476.5, 395.5)",476.5,395.5,33,33,1089,Compo,v,nt-4,51,1,h,50

In [19]:
n = draw.visualize_block(compos.img, block.compos_df, compos.img_shape)

In [15]:
for list_item in block.list_item_groups:
    alignment = list_item.iloc[0]['alignment_item']
    if alignment == 'h':
        list_item = list_item.sort_values('column_min')
    if alignment == 'v':
        list_item = list_item.sort_values('row_min')

In [20]:
len(block.list_item_groups)

14

In [21]:
len(block.compos_df)

14

In [23]:
compos.visualize_block('group')

In [8]:
draw.visualize_block(compos.img, block.compos_df, compos.img_shape)

array([[[ 77,  15,  42],
        [ 81,  17,  45],
        [ 81,  17,  45],
        ...,
        [ 81,  17,  45],
        [ 81,  17,  45],
        [ 77,  15,  42]],

       [[ 77,  16,  42],
        [ 82,  17,  45],
        [ 82,  17,  45],
        ...,
        [ 82,  17,  45],
        [ 82,  17,  45],
        [ 77,  16,  43]],

       [[ 77,  15,  42],
        [ 82,  17,  45],
        [ 82,  17,  45],
        ...,
        [ 82,  17,  45],
        [ 82,  17,  45],
        [ 77,  16,  43]],

       ...,

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]]], dtype=uint8)