In [1]:
import numpy as np
import pandas as pd

from obj.Compos_DF import ComposDF
from obj.Compo_HTML import *
from obj.List import *
from obj.Block import *
from obj.Group import *
import lib.draw as draw
from obj.Page import Page

In [2]:
name = 'data/9'
compos = ComposDF(name + '.json', name + '.png')
img = compos.img.copy()
img_shape = compos.img_shape
img_re = cv2.resize(img, img_shape)

In [3]:
# ***Step 1*** repetitive list recognition
compos.repetitive_group_recognition()    # group_nontext, group_text
# compos.visualize_block('group')

In [4]:
groups = split_groups(compos.compos_dataframe)
sws = {}
for gid in groups:
    sws[gid] = find_interleaves_in_group(groups[gid], compos.compos_dataframe)

In [8]:
r = []
is_valid_group_by_similar_interleave(sws['t-1'], r)

True

In [22]:
c = compos.compos_dataframe
c1 = r[0]
for c in r[1:]:
    c1 = c1.append(c)
l = list(c1['id'])

In [23]:
l

[27]

In [24]:
c[c['id'].isin(l)]

,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,group_nontext,alignment_in_group,group_text,group
27,27,546,554,224,229,"(550.0, 226.5)",550.0,226.5,5,8,40,Compo,1.0,v,-1.0,a

In [20]:
c

,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,group_nontext,alignment_in_group,group_text,group
27,27,546,554,224,229,"(550.0, 226.5)",550.0,226.5,5,8,40,Compo,1.0,v,-1.0,a

In [16]:
compos.visualize_block('group')

In [12]:
c.loc[c[c['id'] < 10].id, 'group'] = 'a'

In [9]:
# ***Step 2*** mark compos in same group as a single list, mark compos in same group_pair as a multiple list
lists, non_listed_compos = gather_lists_by_pair_and_group(compos.compos_dataframe[1:])
generate_lists_html_css(lists)
# compos.visualize_block('group')

In [10]:
# ***Step 3*** slice compos as blocks
compos_html = [li.list_obj for li in lists] + non_listed_compos
blocks, non_blocked_compos = slice_blocks(compos_html, 'v')
visualize_blocks(blocks, img, img_shape)
# blocks[2].visualize_sub_blocks_and_compos(img_re, recursive=True)

In [6]:
# ***Step 4*** assembly html and css as web page
page = Page()
for block in blocks:
    page.add_compo(block.html_script, block.css_script)
page.export()