In [1]:
import numpy as np
import pandas as pd

from Compos_DF import ComposDF
from Compo_HTML import *
from Block import *
import draw

In [2]:
name = 'data/9'
compos = ComposDF(name + '.json', name + '.png')
img = compos.img.copy()
img_shape = compos.img_shape

In [3]:
compos.repetitive_group_recognition()    # group_nontext, group_text
compos.pair_groups()                     # pair, pair_to, group
compos.list_item_partition()             # list_item

In [4]:
compos.visualize_block('group')

In [4]:
blocks = gather_blocks(compos.compos_dataframe)
block = blocks[0]
block.group_list_items()
block.generate_element_html()

In [6]:
block.compos_df

,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,group_nontext,alignment_list,group_text,pair_to,block,alignment_item,list
44,44,460,493,300,333,"(476.5, 316.5)",476.5,316.5,33,33,1089,Compo,4,v,-1,45,1,h,44
45,45,499,591,301,328,"(545.0, 314.5)",545.0,314.5,27,92,2484,Text,-1,v,7,44,1,h,44
46,46,460,493,340,373,"(476.5, 356.5)",476.5,356.5,33,33,1089,Compo,4,v,-1,47,1,h,46
47,47,499,577,341,361,"(538.0, 351.0)",538.0,351.0,20,78,1560,Text,-1,v,7,46,1,h,46
50,50,460,493,379,412,"(476.5, 395.5)",476.5,395.5,33,33,1089,Compo,4,v,-1,51,1,h,50
51,51,499,580,380,407,"(539.5, 393.5)",539.5,393.5,27,81,2187,Text,-1,v,7,50,1,h,50