In [1]:
import numpy as np
import pandas as pd
import cv2

from DF_Compos import DF_Compos
from Group import *
from repetition_recog import *
from pairing import *
import draw
from List import *
from Block import *

In [2]:
compos = pd.read_csv('data/9_rept.csv', index_col=0)
img = cv2.imread("data/9.png")
img_shape = (compos.loc[0]['width'], compos.loc[0]['height'])

In [5]:
len(compos)

64

In [3]:
groups = compos.groupby('pair').groups
groups

{-1: Int64Index([27,  0,  1,  3,  6, 14, 16, 18, 63,  2, 15, 17,  4,  5,  7,  8,  9,
             10, 11, 12, 13, 19, 41, 54],
            dtype='int64'),
 1: Int64Index([44, 46, 50, 45, 47, 51], dtype='int64'),
 2: Int64Index([42, 48, 52, 55, 57, 59, 61, 43, 49, 53, 56, 58, 60, 62], dtype='int64'),
 3: Int64Index([33, 34, 35, 29, 30, 31, 32, 25, 26, 28], dtype='int64'),
 4: Int64Index([20, 21, 22, 23, 24, 36, 37, 38, 39, 40], dtype='int64')}

In [4]:
blocks = []
for i in groups:
    if i == -1:
        continue
    group = groups[i]
    compos_block = compos.loc[list(group)]
    list_items = gather_list_items(compos_block)
    block = Block(i, compos_block, list_items)
    blocks.append(block)

In [5]:
block.compos

,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,alignment,group_nontext,group_text,pair_to,pair,list
20,20,23,102,225,262,"(62.5, 243.5)",62.5,243.5,37,79,2923,Compo,h,9,-1,36,4,20
21,21,106,185,225,262,"(145.5, 243.5)",145.5,243.5,37,79,2923,Compo,h,9,-1,37,4,21
22,22,189,267,225,262,"(228.0, 243.5)",228.0,243.5,37,78,2886,Compo,h,9,-1,38,4,22
23,23,271,350,225,262,"(310.5, 243.5)",310.5,243.5,37,79,2923,Compo,h,9,-1,39,4,23
24,24,354,433,225,262,"(393.5, 243.5)",393.5,243.5,37,79,2923,Compo,h,9,-1,40,4,24
36,36,24,99,263,277,"(61.5, 270.0)",61.5,270.0,14,75,1050,Text,h,-1,2,20,4,20
37,37,106,182,263,277,"(144.0, 270.0)",144.0,270.0,14,76,1064,Text,h,-1,2,21,4,21
38,38,189,267,265,277,"(228.0, 271.0)",228.0,271.0,12,78,936,Text,h,-1,2,22,4,22
39,39,271,339,263,277,"(305.0, 270.0)",305.0,270.0,14,68,952,Text,h,-1,2,23,4,23
40,40,354,426,265,276,"(390.0, 270.5)",390.0,270.5,11,72,792,Text,h,-1,2,24,4,24

In [8]:
block.visualize_block(img, img_shape, attr='list')