In [1]:
import numpy as np
from DF_Compos import DF_Compos
from Group import *
from repetition_recog import *
from pairing import *
import draw

In [2]:
name = 'data/9'
compos = DF_Compos(name + '.json', name + '.png')
img = compos.img.copy()
img_shape = compos.img_shape

In [3]:
compos.repetitive_group_recognition(show=True)

In [6]:
compos.visualize_block('group_nontext')

In [4]:
# recognize repetition
# cluster, group
df_non = recog_repetition_nontext(compos, show=False)
df_text = recog_repetition_text(compos, show=False)

In [7]:
df = compos.compos_dataframe

In [13]:
df = df.merge(df_non, how='left')

In [26]:
df.loc[df['alignment'].isna(), 'alignment'] = df_text['alignment']

In [28]:
df.merge(df_text, how='left')

,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,group_nontext,alignment,group_text
0,0,0,635,0,800,"(317.5, 400.0)",317.5,400.0,800,635,508000,Background,-1.0,NaN,NaN
1,1,0,633,0,10,"(316.5, 5.0)",316.5,5.0,10,633,6330,Compo,-1.0,NaN,NaN
2,2,21,110,19,42,"(65.5, 30.5)",65.5,30.5,23,89,2047,Text,NaN,v,4.0
3,3,133,434,20,42,"(283.5, 31.0)",283.5,31.0,22,301,6622,Compo,-1.0,NaN,NaN
4,4,510,548,25,38,"(529.0, 31.5)",529.0,31.5,13,38,494,Compo,6.0,h,NaN
5,5,567,597,27,37,"(582.0, 32.0)",582.0,32.0,10,30,300,Compo,6.0,h,NaN
6,6,24,52,53,63,"(38.0, 58.0)",38.0,58.0,10,28,280,Compo,-1.0,NaN,NaN
7,7,69,87,55,61,"(78.0, 58.0)",78.0,58.0,6,18,108,Text,NaN,h,0.0
8,8,105,131,55,61,"(118.0, 58.0)",118.0,58.0,6,26,156,Text,NaN,h,0.0
9,9,148,166,56,62,"(157.0, 59.0)",157.0,59.0,6,18,108,Text,NaN,h,0.0
10,10,183,212,55,62,"(197.5, 58.5)",197.5,58.5,7,29,203,Text,NaN,h,0.0
11,11,229,275,55,61,"(252.0, 58.0)",252.0,58.0,6,46,276,Text,NaN,h,0.0
12,12,292,321,55,61,"(306.5, 58.0)",306.5,58.0,6,29,174,Text,NaN,h,0.0
13,13,338,360,55,61,"(349.0, 58.0)",349.0,58.0,6,22,132,Text,NaN,h,0.0
14,14,460,600,85,172,"(530.0, 128.5)",530.0,128.5,87,140,12180,Compo,-1.0,NaN,NaN
15,15,603,611,85,94,"(607.0, 89.5)",607.0,89.5,9,8,72,Compo,3.0,v,NaN
16,16,23,433,86,221,"(228.0, 153.5)",228.0,153.5,135,410,55350,Compo,-1.0,NaN,NaN
17,17,603,610,100,107,"(606.5, 103.5)",606.5,103.5,7,7,49,Compo,3.0,v,NaN
18,18,462,576,175,189,"(519.0, 182.0)",519.0,182.0,14,114,1596,Compo,-1.0,NaN,NaN
19,19,461,509,207,214,"(485.0, 210.5)",485.0,210.5,7,48,336,Text,NaN,v,6.0
20,20,23,102,225,262,"(62.5, 243.5)",62.5,243.5,37,79,2923,Compo,9.0,h,NaN
21,21,106,185,225,262,"(145.5, 243.5)",145.5,243.5,37,79,2923,Compo,9.0,h,NaN
22,22,189,267,225,262,"(228.0, 243.5)",228.0,243.5,37,78,2886,Compo,9.0,h,NaN
23,23,271,350,225,262,"(310.5, 243.5)",310.5,243.5,37,79,2923,Compo,9.0,h,NaN
24,24,354,433,225,262,"(393.5, 243.5)",393.5,243.5,37,79,2923,Compo,9.0,h,NaN
25,25,461,479,223,230,"(470.0, 226.5)",470.0,226.5,7,18,126,Text,NaN,h,1.0
26,26,504,517,223,229,"(510.5, 226.0)",510.5,226.0,6,13,78,Text,NaN,h,1.0
27,27,546,554,224,229,"(550.0, 226.5)",550.0,226.5,5,8,40,Compo,1.0,v,NaN
28,28,586,597,223,229,"(591.5, 226.0)",591.5,226.0,6,11,66,Text,NaN,h,1.0
29,29,499,519,235,259,"(509.0, 247.0)",509.0,247.0,24,20,480,Compo,8.0,h,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36,36,24,99,263,277,"(61.5, 270.0)",61.5,270.0,14,75,1050,Text,NaN,h,2.0
37,37,106,182,263,277,"(144.0, 270.0)",144.0,270.0,14,76,1064,Text,NaN,h,2.0
38,38,189,267,265,277,"(228.0, 271.0)",228.0,271.0,12,78,936,Text,NaN,h,2.0
39,39,271,339,263,277,"(305.0, 270.0)",305.0,270.0,14,68,952,Text,NaN,h,2.0
40,40,354,426,265,276,"(390.0, 270.5)",390.0,270.5,11,72,792,Text,NaN,h,2.0
41,41,461,510,282,289,"(485.5, 285.5)",485.5,285.5,7,49,343,Text,NaN,v,6.0
42,42,23,126,290,348,"(74.5, 319.0)",74.5,319.0,58,103,5974,Compo,5.0,v,NaN
43,43,137,394,291,330,"(265.5, 310.5)",265.5,310.5,39,257,10023,Text,NaN,v,8.0
44,44,460,493,300,333,"(476.5, 316.5)",476.5,316.5,33,33,1089,Compo,4.0,v,NaN
45,45,499,591,301,328,"(545.0, 314.5)",545.0,314.5,27,92,2484,Text,NaN,v,7.0
46,46,460,493,340,373,"(476.5, 356.5)",476.5,356.5,33,33,1089,Compo,4.0,v,NaN
47,47,499,577,341,361,"(538.0, 351.0)",538.0,351.0,20,78,1560,Text,NaN,v,7.0
48,48,23,126,359,417,"(74.5, 388.0)",74.5,388.0,58,103,5974,Compo,5.0,v,NaN
49,49,136,391,359,401,"(263.5, 380.0)",263.5,380.0,42,255,10710,Text,NaN,v,8.0
50,50,460,493,379,412,"(476.5, 395.5)",476.5,395.5,33,33,1089,Compo,4.0,v,NaN
51,51,499,580,380,407,"(539.5, 393.5)",539.5,393.5,27,81,2187,Text,NaN,v,7.0
52,52,23,126,427,485,"(74.5, 456.0)",74.5,456.0,58,103,5974,Compo,5.0,v,NaN
53,53,138,360,429,470,"(249.0, 449.5)",249.0,449.5,41,222,9102,Text,NaN,v,8.0
54,54,464,595,433,459,"(529.5, 446.0)",529.5,446.0,26,131,3406,Text,NaN,v,6.0
55,55,23,126,495,554,"(74.5, 524.5)",74.5,524.5,59,103,6077,Compo,5.0,v,NaN
56,56,137,397,496,547,"(267.0, 521.5)",267.0,521.5,51,260,13260,Text,NaN,v,8.0
57,57,23,126,564,622,"(74.5, 593.0)",74.5,593.0,58,103,5974,Compo,5.0,v,NaN
58,58,137,394,565,614,"(265.5, 589.5)",265.5,589.5,49,257,12593,Text,NaN,v,8.0
59,59,23,126,632,690,"(74.5, 661.0)",74.5,661.0,58,103,5974,Compo,5.0,v,NaN
60,60,137,378,634,664,"(257.5, 649.0)",257.5,649.0,30,241,7230,Text,NaN,v,8.0
61,61,23,126,701,759,"(74.5, 730.0)",74.5,730.0,58,103,5974,Compo,5.0,v,NaN
62,62,137,393,702,731,"(265.0, 716.5)",265.0,716.5,29,256,7424,Text,NaN,v,8.0
63,63,224,232,770,778,"(228.0, 774.0)",228.0,774.0,8,8,64,Compo,-1.0,NaN,NaN
64,64,462,581,104,171,"(521.5, 137.5)",521.5,137.5,67,119,7973,Block,NaN,NaN,NaN
65,65,269,432,86,219,"(350.5, 152.5)",350.5,152.5,133,163,21679,Block,NaN,NaN,NaN

In [5]:
# select all repetitive compos and group them by repetition
groups_nontext, no_groups_nontext = compos_nontext.cvt_groups('group_nontext', 'nontext')
groups_text, no_groups_text = compos_text.cvt_groups('group_text', 'text')
all_groups = groups_nontext + groups_text

In [6]:
groups_nontext[0].compos_dataframe

,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,group_nontext,alignment
15,15,603,611,85,94,"(607.0, 89.5)",607.0,89.5,9,8,72,Compo,3,v
17,17,603,610,100,107,"(606.5, 103.5)",606.5,103.5,7,7,49,Compo,3,v

In [10]:
# pair differnet repetition to search for possible combination
# pair
pairs, no_pairs = pair_matching_within_groups(all_groups)
df_pairs = pair_cvt_df(pairs)

In [13]:
df_pairs[:5]

,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,group_nontext,alignment,pair_to,pair,group_text
44,44,460,493,300,333,"(476.5, 316.5)",476.5,316.5,33,33,1089,Compo,4,v,45.0,1,-1
46,46,460,493,340,373,"(476.5, 356.5)",476.5,356.5,33,33,1089,Compo,4,v,47.0,1,-1
50,50,460,493,379,412,"(476.5, 395.5)",476.5,395.5,33,33,1089,Compo,4,v,51.0,1,-1
45,45,499,591,301,328,"(545.0, 314.5)",545.0,314.5,27,92,2484,Text,-1,v,44.0,1,7
47,47,499,577,341,361,"(538.0, 351.0)",538.0,351.0,20,78,1560,Text,-1,v,46.0,1,7

In [6]:
df_no_groups = no_groups_nontext.append(no_groups_text, sort=False)
df_no_pairs = groups_cvt_df(no_pairs)
df_all = df_no_groups.append(df_no_pairs, sort=False).append(df_pairs, sort=False)

In [7]:
df_all[list(df_all.filter(like='group'))] = df_all[list(df_all.filter(like='group'))].fillna(-1).astype(int)
df_all['pair'] = df_all['pair'].fillna(-1).astype(int)
df_all['pair_to'] = df_all['pair_to'].fillna(-1).astype(int)

In [8]:
b = draw.visualize_block(img, df_all, img_shape, attr='pair')

In [10]:
df_all.to_csv('data/9_rept.csv')