In [1]:
import numpy as np
from DF_Compos import DF_Compos
from Group import *
from repetition_recog import *
from pairing import *
import draw
import pandas as pd

In [2]:
compos = pd.read_csv('data/9_rept.csv', index_col=0)

In [3]:
groups = compos.groupby('pair').groups

In [4]:
groups

{-1: Int64Index([27,  0,  1,  3,  6, 14, 16, 18, 63,  2, 15, 17,  4,  5,  7,  8,  9,
             10, 11, 12, 13, 19, 41, 54],
            dtype='int64'),
 1: Int64Index([44, 46, 50, 45, 47, 51], dtype='int64'),
 2: Int64Index([42, 48, 52, 55, 57, 59, 61, 43, 49, 53, 56, 58, 60, 62], dtype='int64'),
 3: Int64Index([33, 34, 35, 29, 30, 31, 32, 25, 26, 28], dtype='int64'),
 4: Int64Index([20, 21, 22, 23, 24, 36, 37, 38, 39, 40], dtype='int64')}

In [5]:
blocks = []
for i in groups:
    if i == -1:
        continue
    group = groups[i]
    block = compos.loc[list(group)]
    blocks.append(block)

In [20]:
blocks[2]

,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,alignment,group_nontext,group_text,pair_to,pair
33,33,460,478,254,259,"(469.0, 256.5)",469.0,256.5,5,18,90,Compo,h,7,-1,31,3
34,34,539,552,254,259,"(545.5, 256.5)",545.5,256.5,5,13,65,Compo,h,7,-1,30,3
35,35,580,595,254,259,"(587.5, 256.5)",587.5,256.5,5,15,75,Compo,h,7,-1,32,3
29,29,499,519,235,259,"(509.0, 247.0)",509.0,247.0,24,20,480,Compo,h,8,-1,26,3
30,30,540,559,235,251,"(549.5, 243.0)",549.5,243.0,16,19,304,Compo,h,8,-1,34,3
31,31,461,479,236,251,"(470.0, 243.5)",470.0,243.5,15,18,270,Compo,h,8,-1,25,3
32,32,581,599,236,251,"(590.0, 243.5)",590.0,243.5,15,18,270,Compo,h,8,-1,28,3
25,25,461,479,223,230,"(470.0, 226.5)",470.0,226.5,7,18,126,Text,h,-1,1,31,3
26,26,504,517,223,229,"(510.5, 226.0)",510.5,226.0,6,13,78,Text,h,-1,1,29,3
28,28,586,597,223,229,"(591.5, 226.0)",591.5,226.0,6,11,66,Text,h,-1,1,32,3

In [9]:
from List import *

In [22]:
ListItems = {}

block = blocks[2]
mark = []
for i in range(len(block)):
    compo = block.iloc[i]
    # new item
    if compo['id'] not in mark and compo['pair_to'] not in mark:
        compo_paird = block.loc[compo['pair_to']]
        item = ListItem(compo['alignment'], [compo, compo_paird])
        ListItems[compo['id']] = item
        mark += [compo['id'] , compo['pair_to']]
        
    elif compo['id'] in mark and compo['pair_to'] not in mark:
        index = match_list_item_by_compoid(ListItems, compo['id'])
        ListItem[index].add_compo(block.loc[compo['pair_to']])
        mark.append(compo['pair_to'])
        
    elif compo['id'] not in mark and compo['pair_to'] in mark:
        index = match_list_item_by_compoid(ListItems, compo['pair_to'])
        ListItem[index].add_compo(block.loc[compo['id']])
        mark.append(compo['id'])
        
        
    print(compo['id'], compo['pair_to'])

33 31
34 30
35 32
29 26
30 34

TypeError: 'type' object is not subscriptable

In [12]:
ListItems[20].compos_id

[20, 36]

In [15]:
List.match_list_item_by_compoid(ListItems, 36)

20