In [1]:
import numpy as np
import pandas as pd

from obj.Compos_DF import ComposDF
from obj.Compo_HTML import *
from obj.List import *
from obj.Block import *
import lib.draw as draw
from obj.Page import Page

In [7]:
name = 'data/9'
compos = ComposDF(name + '.json', name + '.png')
img = compos.img.copy()
img_shape = compos.img_shape
img_re = cv2.resize(img, img_shape)

In [ ]:
# ***Step 1*** repetitive list recognition
compos.repetitive_group_recognition()    # group_nontext, group_text
compos.pair_groups()                     # group_pair, pair_to, group
compos.list_item_partition()             # list_item
compos.visualize_block('group')
compos.visualize_block('group_pair')

In [5]:
compos.compos_dataframe[30:34]

,id,column_min,column_max,row_min,row_max,center,center_column,center_row,height,width,area,class,alignment_in_group,group,pair_to,group_pair,list_item
30,30,540,559,235,251,"(549.5, 243.0)",549.5,243.0,16,19,304,Compo,h,nt-8,34,3,30
31,31,461,479,236,251,"(470.0, 243.5)",470.0,243.5,15,18,270,Compo,h,nt-8,25,3,25
32,32,581,599,236,251,"(590.0, 243.5)",590.0,243.5,15,18,270,Compo,h,nt-8,28,3,28
33,33,460,478,254,259,"(469.0, 256.5)",469.0,256.5,5,18,90,Compo,h,nt-7,31,3,25

In [4]:
# ***Step 2*** mark compos in same group as a single list, mark compos in same group_pair as a multiple list
lists, non_listed_compos = gather_lists_by_pair_and_group(compos.compos_dataframe[1:])
generate_lists_html_css(lists)
# compos.visualize_block('group')

In [5]:
# ***Step 3*** slice compos as blocks
compos_html = [li.list_obj for li in lists] + non_listed_compos
blocks, non_blocked_compos = slice_blocks(compos_html, 'v')
visualize_blocks(blocks, img, img_shape)
blocks[2].visualize_sub_blocks_and_compos(img_re, recursive=True)

In [7]:
# ***Step 4*** assembly html and css as web page
page = Page()
for block in blocks:
    page.add_compo(block.html_script, block.css_script)
page.export()